body{
    background-color:rgba(var(--b3f,250,250,250),1);;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

input{
    border:none;
    background-color: rgb(0 0 0 / 5%);
    padding:10px;
    font-size: 12px;
    box-sizing: border-box;
    width: 75%;
    border-radius: 5px;
    border-color: black;
    transition: border-color .2s ease-in-out;
    color: rgba(var(--i1d,38,38,38),1);
    font: apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
}

input:focus{
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    outline-color: white;
}

.splashImg{
    display: inline-block;
    background-image: url("../public/SplashPage.png");
    background-size: 454px 618px;
    width: 350px;
    height:618px;
    flex-basis: 454px;
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
    margin-left: -35px;
    margin-right:-15px;
}

.splash-page{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.appName{
    margin: 22px auto 12px ;
    font-family: cursive;
}

.login{
  align-items:center;
  align-self: center;
  background-color: rgba(var(--d87,255,255,255),1);
  border: 1px solid rgba(var(--b6a,219,219,219),1);
  border-radius: 1px;
  margin: 0 0 10px;
  padding:10px 0;
  max-width: 300px;
  width: 300px;
  height: 450px;
  text-align: center;

}

.emailInput{
    margin-bottom:10px;

}

.loginBtn{
    background-color: #52b0eb;
    width:  75%;
    height: 25px;
    color: white;
    margin: 10px auto 0px;
    border-radius: 7px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.loginBtn:hover{
    background-color: #003cff;
}

.orContainer{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.or{
   color: rgb(212, 212, 212);
   margin-left: 10px;
   margin-right: 10px;
}

.orContainer .line{
    flex: 1;
    height: 1px;
    background-color: rgb(212, 212, 212);
    margin-left: 10px;
    margin-right: 10px;
}

.demoBtn{
    background-color: #52b0eb;
    width:  75%;
    height: 25px;
    color: white;
    margin: 10px auto 0px;
    border-radius: 7px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.demoBtn:hover{
    background-color: #003cff;
}

.dontAccount{
    display: inline;
    font-size: 16px;
    color: rgb(34, 34, 34);
    padding-right: 5px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.register{
    display: inline;
    font-size: 16px;
    color: #5562f3;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.registerContainer{
    margin-top: 175px;
}
