body{
    background-color:rgba(var(--b3f,250,250,250),1);;
}

.splashImg{
    display: inline-block;
    background-image: url("../public/Screen\ Shot\ 2021-11-15\ at\ 6.11.24\ PM.png");
    background-size: 454px 618px;
    width: 350px;
    height:618px;
    flex-basis: 454px;
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
    margin-left: -35px;
    margin-right:-15px;
}

.splash-page{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.appName{
    margin: 22px auto 12px ;
    font-family: cursive;
}

.login{
  -webkit-box-align: center;
  align-items:center;
  background-color: rgba(var(--d87,255,255,255),1);

}
