/* form {
    display: flex;
    flex-direction: column;
} */

.inputBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    margin-top: 75px;
}

  /* div {
    width: 50vw;
  } */

  /* textarea {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
    padding: 5px;
  } */


  /* button {
    height: 40px;
    width: 200px;
    background: rgb(60, 56, 56);
    color: rgb(255, 255, 255);
    font-size: 1.1em;
  } */

  button:hover {
    cursor: pointer;
  }

  .postSubmit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: -40px;
    font-family: cursive;
  }

  .postSubmit:hover{
    cursor: pointer;
    color: blue;
  }

  .banner{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: cursive;
    margin-bottom: -25px;
    margin-left: -75px;
  }
