.postContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 75px;

}

.commentContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post > img{
    border: 1px solid #D4D4D4;
    display: block;
    width: 700px;
    height: 826px;
    border-radius: 5px;
    margin-bottom: 40px;
    max-width: 100%;
    max-height: 100%;
}

.likes{
    display: flex;
    margin-top: -35px;
}

.postCaption{
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    margin-top: -17px;
}

.postDeleteBtn{
    display: flex;
    float: right;
    margin-top: -55px;
}

.addComment{
    width: 850px;

}

.postHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.profileImage{
    border: 1px solid #D4D4D4;
    width: 40px;
    height: 40px;
    border-radius: 60%;
    display: inline-block;
    margin-left: 13px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.postUsername{
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    font-weight: 500;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.commentBtn{
    cursor: pointer;
}

.commentDeleteBtn{
    cursor: pointer;
}
