
.signupErrors{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


.passwordInputRepeat{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.signupInputs{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
